* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.section-slider {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    max-width: 710px;
    max-height: 390px;
    padding: 20px;
}

.slider-items {
    width: 500%;
    height: 100%;
    display: flex;
}

.slider-items .item {
    width: 20%;
}

img {
    max-width: 100%;
    height: auto;
    padding-left: 20px;
}

.slider-items input {
    position: absolute;
    visibility: hidden;

}

.slider-nav {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-nav .nav-item {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}